In [5]:
num1= 20
num2= 10

sum = num1+num2
print('sum=',sum)

sum= 30

In [7]:
num1= 20
num2= 10

dif =  num1-num2
print('difference=',dif )

difference= 10

In [9]:
num1= 20
num2= 10

prod = num1*num2
print('product=',prod)

product= 200

In [10]:
num1= 20
num2= 10

quo = num1/num2
print('quotient=', quo)

quotient= 2.0

In [11]:
#exponent

exp = num1**num2 #20^10
print('exponene=',exp)

exponene= 10240000000000

In [12]:
# modulus
mod= num1%num2
print('reminder=' , mod)

reminder= 0

In [13]:
a= 5
a

5

In [15]:
a= 5
a += 8 # we ttelling add 8 to the a
a

13

In [16]:
b=5
b-=2
b

3

In [21]:

 a= 5
 b=10

 print(a==b)
 print(a != b)
 print(a < b)
 print(a > b)
 print(a <= b)
 print(a >= b)

False
True
True
False
True
False

In [23]:
a = 10
print ( a>20 and a>5) # if bothe the condiction is true it will give true or else
# only one or ether false it give false

False

In [25]:
print ( a>20 or a>5) # it will give true either one is correct

True

In [27]:
print (not( a>8 or a>5)) # rever or invert the out put

False

identity operator

In [29]:
x = 5
y = 10
print( x is y)

False

In [30]:
x = 5
y = 5
print( x is y)

True

In [31]:
x = 5
y = 10
print( x is not y)

True

In [32]:
x = 5
y = 5
print( x is not y)

False

In [33]:
# membership operator

In [40]:
x = 5
y = 100

c =[5,10,2,4,8,]
print(x in c)
print(y in c)

True
False

In [41]:
x = 5
y = 100

c =[5,10,2,4,8,]
print(x not in c)
print(y not in c) # opposite to in

False
True