Types of Objects in Python:
1. Immutable Objects
2. Mutable Objects

Immutable Objects:   whose vale can not be changed once it created
1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects:  whose vale can  be changed once it created
1. List
2. Set 
3. Dictionary

List

In [3]:
# list should be included in the square brackets
# previous data type can store 1 value but these special data type can store 
# multiple value
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [4]:
Bim_list=[1,2,3,4]
print(Bim_list)
type(Bim_list)

[1, 2, 3, 4]

list

In [ ]:
# lists can have multiple data types
my_list = [2, 3, 1.8, 'English', True]
print(my_list)

[2, 3, 1.8, 'English', True]

In [7]:
Santhu_Bim = [2,5,5 ,'sow']
Santhu_Bim

[2, 5, 5, 'sow']

In [8]:
Santhu_Bim = [2,5,5 ,'sow']
print(Santhu_Bim)

[2, 5, 5, 'sow']

Lists are Mutable --> Changeable

In [ ]:
# add elements to a list
my_list = [2, 3, 1.8, 'English', True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [9]:
 # we can add Append methgod to add element to the list at last
 Santhu_Bim = [2,5,5 ,'sow']
 Santhu_Bim.append(100)
 Santhu_Bim

[2, 5, 5, 'sow', 100]

In [ ]:
# print elements of a list using their index
# cheking or accessing the values or elements in the list
print(my_list[0])
print(my_list[2])

2
1.8

In [12]:
# print elements of a list using their index
# cheking or accessing the values or elements in the list

print(Santhu_Bim[2])
print(Santhu_Bim[4])

5
100

In [15]:
# lists allow duplicate values
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [16]:
Santhu_Bim # duplicate value

[2, 5, 5, 'sow', 100]

In [17]:
print(len(list_1)) # we can chk total no. fo value in list or no,. elements
print(len(Santhu_Bim))

8
5

In [23]:
# initiating an empty list
list_2 = []
print(list_2)

[]

In [21]:
lst=[]
lst

[]

In [24]:
list_2.append(5)
print(list_2)

[5]

In [31]:
lst.append('bim')
lst

['bim']

In [25]:
# delete an item in a list
list_2 = [2, 3, 1.8, 'English', True, 6]
print(list_2)

del list_2[2] # we have to give index of element in list
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

In [32]:
Santhu_Bim

del(Santhu_Bim[2])
Santhu_Bim

[2, 5]

In [29]:
# join two lists
list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

list_5 = list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
SL=Santhu_Bim + lst
SL

[2, 5, 'bim']

Tuple - imutable means not changeble

In [ ]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [ ]:
# tuple in paranthesis or round bracket.

In [ ]:
# tuple allows multiple data types
tuple_2 = (1,2,3.5, 'Machine Learning', False)
print(tuple_2)

(1, 2, 3.5, 'Machine Learning', False)

In [36]:
tuple999=(1,3,4, "bim" , False)
tuple999

(1, 3, 4, 'bim', False)

In [47]:
# converting  a list to a tuple

my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [48]:
print(my_tuple[0])
print(my_tuple[1])

3
4

In [49]:
tuple0=(1,2,3,4,5,6,) # t-l
tulst= list(tuple0)
print(tulst)

[1, 2, 3, 4, 5, 6]

In [50]:
lst=[1,2,3,'fig'] #l-t
tuple9=tuple(lst)
tuple9

(1, 2, 3, 'fig')

In [52]:
print(tuple9[3])

fig

Tuples are immutable --> Unchangeable

In [ ]:
my_tuple.append(6)

AttributeError: ignored

In [51]:
print(len(my_tuple))

4

In [45]:
print(len(tuple9))

4

Set

In [53]:
# set --> Curly brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [54]:
Set1={1,2,2,'good'}
# we cant access the value using in index in set

In [ ]:
print(my_set[0])

TypeError: ignored

In [ ]:
# convert a list to a set
list_5 = [4,5,6,7,8]

x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [57]:
lst = [1,2,3]
set111 = set(lst)
print(type(set111))
print(set111)

<class 'set'>
{1, 2, 3}

In [58]:
# set does not allow duplicate values
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

In [61]:
set = {1,1,2,2,3,3}
set

{1, 2, 3}

Dictionary

Key-Value Pair

In [65]:
my_dictionary = {'name':'David','age':30,'country':'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'David', 'age': 30, 'country': 'India'}

dict

In [64]:
My_dict={'Name':'Santu','age':28, 'nationality':'india'}
My_dict

{'Name': 'Santu', 'age': 28, 'nationality': 'india'}

In [ ]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

David
30
India

In [66]:
print(My_dict['Name'])
# we have acces the key elemet to get their value.

Santu

In [ ]:
# dictionary does not allow duplicate values
dictionary_2 = {'name':'David','age':30,'country':'India','name':'David','age':30,'country':'India'}
print(dictionary_2)

{'name': 'David', 'age': 30, 'country': 'India'}

In [67]:
My_dict={'Name':'Santu','age':28, 'age':28, 'nationality':'india'}
My_dict

{'Name': 'Santu', 'age': 28, 'nationality': 'india'}